// ion-icon {
//   font-size: 30px;
//   // --ionicon-stroke-width: 16px;

// }

.custom-header-background {
  --background: #fff; /* Your custom background color */
}


ion-content {
  --background: none; /* Remove Ionic's default background */
  // background-image: url('/assets/tadika/Tadika_background4.webp');
  background-color: #d3e1f4;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
}

ion-list {
  --background: none; /* Remove Ionic's default background */
  // background-image: url('/assets/tadika/Tadika_background4.webp');
  background-color: #d3e1f4;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
}

.custom-hr {
  // border: 30px;
  height: 2px;
  background-color: #d3e1f4; /* Custom blue color */
  // margin: 16px 0; /* Adjust top and bottom margin */
  opacity: 0.6; /* Transparency */
}

.custom-alert-input .alert-input {
  font-size: 20px; /* Change this value to your preferred font size */
}

::ng-deep .custom-alert-input .alert-input {
  font-size: 20px !important; /* Adjust the size as needed */
}

::ng-deep .custom-alert-input .alert-wrapper .alert-input {
  font-size: 20px !important;
}
